@use '../helpers' as *;

.task-card {
    padding: rem(16); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-light-grey);
    border-radius: rem(12);

    &__delete-button {
        background-color: transparent;
        color: var(--color-dark);
        text-align: center;
        font-weight: 700;
        border: none;
        border-radius: 50%;
        opacity: 0.8;
        transition-duration: var(--transition-duration);

        @include hover {
            opacity: 1;
        }
    }
}